{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">
{% block content %}
    <h1 class="my-4">{% trans "Users" %}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans "User name" %}</th>
            <th scope="col">{% trans "Full name" %}</th>
            <th scope="col">{% trans "Creation date" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'user_update' user.pk %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'user_delete' user.pk %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
</html>
